# Directory with the resulting program.
artifact/

# Directory with `make` dependency files and C++ object files.
build/

# files generated for website
website/generated/

# Visual Studio Code configuration files
.vscode/
